*.mod
*.o
*.dirstamp
*.Po
Makefile
/.autotools
/aclocal.m4
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/makeneko
/missing
/neko.pc
/test-driver
/tt.mod
/autom4te.cache/
/doc/Doxyfile
/src/comm/comm.F90
/src/config/neko_config.f90
/src/config/num_types.f90
/src/device/device_config.h
/src/scripts/cltostring.sh
/**/.deps
/**/Makefile
/**/Makefile.in
/.cproject
/.project
/.pydevproject
/.settings/
/.ptp-sync/
/**/.ptp-sync-folder
/build-p4est/
